.imageContainer {
  max-width: 200px;

  & > span {
    position: unset !important;
    border: 1px solid red;
  }

  .image {
    position: relative !important;
    width: 100% !important;
    height: unset !important;
  }
}
