.imageContainer {
  max-width: 120px;
  box-shadow: 0 0 3px 3px #ddd;

  & > span {
    position: unset !important;
    border: 1px solid red;
  }

  .image {
    position: relative !important;
    width: 100% !important;
    height: unset !important;
  }
}
